/* src/components/Navbar.css */
.navbar {
  background-color: #FFD700;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  color: black;
  font-size: 1.5rem;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
